In [3]:
import numpy as np
import pandas as pd
import math

In [4]:
df1=pd.read_csv("fake_new.csv")

In [5]:
df2=pd.read_csv("hate speech.csv")

In [6]:
df1.shape

(20800, 5)

In [7]:
df1.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [8]:
df2.shape

(24783, 7)

In [9]:
df2.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [10]:
#Inner Join->Joins rows having same value of foreign key

#Full Join->Joins all rows which have a match in either of left or right dataframe, but non-matching rows will have Nan values

#Left Join->inner join plus all the non-matching rows of the left dataframe filled with NaN for columns of the right dataframe

#Right Join->similar to the Left Join, difference is that all the rows of the right dataframe 
#are taken as it is and only those of the left dataframe that are common in both

In [11]:
df5=df1

In [12]:
df5

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
...,...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

In [13]:
df5.drop('id', inplace=True, axis=1)

In [14]:
df5['text']=df5['title']+df5['text']

In [15]:
df5.drop('title', inplace=True, axis=1)

In [16]:
df5.drop('author', inplace=True, axis=1)

In [17]:
df5

                                                    text  label
0      House Dem Aide: We Didn’t Even See Comey’s Let...      1
1      FLYNN: Hillary Clinton, Big Woman on Campus - ...      0
2      Why the Truth Might Get You FiredWhy the Truth...      1
3      15 Civilians Killed In Single US Airstrike Hav...      1
4      Iranian woman jailed for fictional unpublished...      1
...                                                  ...    ...
20795  Rapper T.I.: Trump a ’Poster Child For White S...      0
20796  N.F.L. Playoffs: Schedule, Matchups and Odds -...      0
20797  Macy’s Is Said to Receive Takeover Approach by...      0
20798  NATO, Russia To Hold Parallel Exercises In Bal...      1
20799  What Keeps the F-35 Alive  David Swanson is an...      1

[20800 rows x 2 columns]

In [18]:
df5.columns

Index(['text', 'label'], dtype='object')

In [19]:
df5.shape

(20800, 2)

In [20]:
(df5.label==0).sum()

10387

In [21]:
(df5.label==1).sum()

10413

In [22]:
df5.sort_values('label', inplace=True)

In [23]:
df5=df5.drop(df5.index[:10287])

In [24]:
df5

                                                    text  label
4063   Michael Moore: U.S. ‘Sh*ts On Their Own’ More ...      0
5680   For Women in Advertising, It’s Still a ‘Mad Me...      0
17825  Trump: ’We Are Fighting’ ’Fake News’ - ’They S...      0
4219   Potential Conflicts Around the Globe for Trump...      0
18626  Inside John Calipari’s Media Empire - The New ...      0
...                                                  ...    ...
9283   BUSTED: Eric Trump Admits Daddy ‘Started The C...      1
9286   World’s first 3D-printed supercar: Ultra-light...      1
9289   Comment on This Is What Constipation Does To Y...      1
9263   Libertarian Candidate To MSNBC: “I’m Here Vouc...      1
20799  What Keeps the F-35 Alive  David Swanson is an...      1

[10513 rows x 2 columns]

In [25]:
(df5.label==0).sum()

100

In [26]:
df5=df5.drop(df5.index[100:10413])

In [27]:
df5

                                                    text  label
4063   Michael Moore: U.S. ‘Sh*ts On Their Own’ More ...      0
5680   For Women in Advertising, It’s Still a ‘Mad Me...      0
17825  Trump: ’We Are Fighting’ ’Fake News’ - ’They S...      0
4219   Potential Conflicts Around the Globe for Trump...      0
18626  Inside John Calipari’s Media Empire - The New ...      0
...                                                  ...    ...
9283   BUSTED: Eric Trump Admits Daddy ‘Started The C...      1
9286   World’s first 3D-printed supercar: Ultra-light...      1
9289   Comment on This Is What Constipation Does To Y...      1
9263   Libertarian Candidate To MSNBC: “I’m Here Vouc...      1
20799  What Keeps the F-35 Alive  David Swanson is an...      1

[200 rows x 2 columns]

In [28]:
df5.shape

(200, 2)

In [29]:
print((df5.label==0).sum())
print((df5.label==1).sum())

100
100

In [30]:
df6=df2

In [31]:
df6

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...,...,...,...,...,...,...,...
24778,25291,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779,25292,3,0,1,2,2,"you've gone and broke the wrong heart baby, an..."
24780,25294,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...
24781,25295,6,0,6,0,1,youu got wild bitches tellin you lies
24782,25296,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

In [32]:
df6.shape

(24783, 7)

In [33]:
df6.columns

Index(['Unnamed: 0', 'count', 'hate_speech', 'offensive_language', 'neither',
       'class', 'tweet'],
      dtype='object')

In [34]:
df6.drop('Unnamed: 0', inplace=True, axis=1)
df6.drop('count', inplace=True, axis=1)
df6.drop('hate_speech', inplace=True, axis=1)
df6.drop('offensive_language', inplace=True, axis=1)
df6.drop('neither', inplace=True, axis=1)

In [35]:
df6

       class                                              tweet
0          2  !!! RT @mayasolovely: As a woman you shouldn't...
1          1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2          1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3          1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4          1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...      ...                                                ...
24778      1  you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779      2  you've gone and broke the wrong heart baby, an...
24780      1  young buck wanna eat!!.. dat nigguh like I ain...
24781      1              youu got wild bitches tellin you lies
24782      2  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

[24783 rows x 2 columns]

In [36]:
df6.rename(columns = {'class':'label_hate_speech'}, inplace = True)

In [37]:
df6

       label_hate_speech                                              tweet
0                      2  !!! RT @mayasolovely: As a woman you shouldn't...
1                      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2                      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3                      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4                      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...                  ...                                                ...
24778                  1  you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779                  2  you've gone and broke the wrong heart baby, an...
24780                  1  young buck wanna eat!!.. dat nigguh like I ain...
24781                  1              youu got wild bitches tellin you lies
24782                  2  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

[24783 rows x 2 columns]

In [38]:
print((df6.label_hate_speech==0).sum())
print((df6.label_hate_speech==1).sum())
print((df6.label_hate_speech==2).sum())

1430
19190
4163

In [39]:
df6.sort_values('label_hate_speech', inplace=True)

In [40]:
df6

       label_hate_speech                                              tweet
13362                  0  Niggas/bitches cheat cause mf's always think t...
9276                   0  Fuck that niggah he so weak, he cant tell that...
7064                   0                @sophhh_marie ugly emo trash go cut
19427                  0  RT @kevnasto: I would rather fuck a fat chick ...
4378                   0          @PablyAndrew it was Paul McCartney faggot
...                  ...                                                ...
14237                  2  RT @AtlasSmugged: women only play casual game ...
14214                  2  RT @ArianaGrande: Oh Torrence, I can't stand y...
14213                  2  RT @ArcticFox2016: 150 Christians MASSACRED By...
14083                  2  RT @AP: Lifelong Yankee fan puts aside rooting...
24782                  2  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

[24783 rows x 2 columns]

In [41]:
df6=df6.drop(df6.index[:1413])

In [42]:
print((df6.label_hate_speech==0).sum())

17

In [43]:
df6=df6.drop(df6.index[17:18975])

In [44]:
print((df6.label_hate_speech==1).sum())
print((df6.label_hate_speech==0).sum())

232
17

In [45]:
df6=df6.drop(df6.index[249:4361])

In [46]:
print((df6.label_hate_speech==1).sum())
print((df6.label_hate_speech==0).sum())
print((df6.label_hate_speech==2).sum())

232
17
51

In [47]:
df6.shape

(300, 2)

In [48]:
df5['tmp'] = 1
df6['tmp'] = 1

In [46]:
df_combined=pd.merge(df5, df6, on=['tmp'])
df_combined=df_combined.drop('tmp', axis=1)

In [47]:
df_combined

,text,label,label_hate_speech,tweet
0,documentary filmmaker Michael Moore says the...,0,0,Stay home then bitch fuck u
1,documentary filmmaker Michael Moore says the...,0,0,RT @JaclynDeeter: Well maybe you're a whore yo...
2,documentary filmmaker Michael Moore says the...,0,0,&#128514; RT @TheOnlyReed: LMFAO RT @Tone314: ...
3,documentary filmmaker Michael Moore says the...,0,0,RT @Meet_Nallah: &#8220;@mckenxcassie: Some of...
4,documentary filmmaker Michael Moore says the...,0,0,Y'all hoes really get mad cause a nigga don't ...
...,...,...,...,...
59995,"David Swanson is an author, activist, journa...",1,2,RT @AtlasSmugged: women only play casual game ...
59996,"David Swanson is an author, activist, journa...",1,2,"RT @ArianaGrande: Oh Torrence, I can't stand y..."
59997,"David Swanson is an author, activist, journa...",1,2,RT @ArcticFox2016: 150 Christians MASSACRED By...
59998,"David Swanson is an author, activist, journa...",1,2,RT @AP: Lifelong Yankee fan puts aside rooting...
59999,"David Swanson is an author, activist, journa...",1,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

In [48]:
import sklearn
df_combined=sklearn.utils.shuffle(df_combined)

In [49]:
df_combined

,text,label,label_hate_speech,tweet
37011,Peculiar supernatural activity which is suspec...,1,1,@zramsin @BetoDavidThomas go fuck your self pu...
19392,"WASHINGTON — Speaker Paul D. Ryan, the nati...",0,1,Bitches be happy about burger king pollo tropi...
5280,Sudanese President Omar indicated through hi...,0,1,@wodaeeex3 hoe yu came at me first tf
57809,Another Saudi War Crime in Yemen as 43 Prisone...,1,1,@whiteangelss84 @fields_devante mmm where the ...
29911,"Rosetta, the first spacecraft to orbit a comet...",0,1,"Yous a Gold bottle, These hoes pink mascato"
...,...,...,...,...
2430,As state after state has legalized marijuana i...,0,1,@team_Darrion just like a Velcro headed moon c...
33662,0 comments \nA speech 13-year-old Trump suppor...,1,1,@zach_smith98 @NathannDevlin bitch I didn't ev...
43927,"\nBy Peter Koenig , November 15 2016 \nThe ele...",1,1,Big moe rn like a hoe haha yuhhhh
1559,“It is what it is. People know how I feel abou...,0,1,@z0mbiedance message me hoe! I need to plan st...
27902,"SEOUL, South Korea — When North Korea held ...",0,0,&#128514; RT @TheOnlyReed: LMFAO RT @Tone314: ...

In [50]:
df_combined["text"]=df_combined["text"]+df_combined["tweet"]

In [51]:
df_combined

,text,label,label_hate_speech,tweet
37011,Peculiar supernatural activity which is suspec...,1,1,@zramsin @BetoDavidThomas go fuck your self pu...
19392,"WASHINGTON — Speaker Paul D. Ryan, the nati...",0,1,Bitches be happy about burger king pollo tropi...
5280,Sudanese President Omar indicated through hi...,0,1,@wodaeeex3 hoe yu came at me first tf
57809,Another Saudi War Crime in Yemen as 43 Prisone...,1,1,@whiteangelss84 @fields_devante mmm where the ...
29911,"Rosetta, the first spacecraft to orbit a comet...",0,1,"Yous a Gold bottle, These hoes pink mascato"
...,...,...,...,...
2430,As state after state has legalized marijuana i...,0,1,@team_Darrion just like a Velcro headed moon c...
33662,0 comments \nA speech 13-year-old Trump suppor...,1,1,@zach_smith98 @NathannDevlin bitch I didn't ev...
43927,"\nBy Peter Koenig , November 15 2016 \nThe ele...",1,1,Big moe rn like a hoe haha yuhhhh
1559,“It is what it is. People know how I feel abou...,0,1,@z0mbiedance message me hoe! I need to plan st...
27902,"SEOUL, South Korea — When North Korea held ...",0,0,&#128514; RT @TheOnlyReed: LMFAO RT @Tone314: ...

In [52]:
df_combined['Updated_label']=1

In [53]:
df_combined

,text,label,label_hate_speech,tweet,Updated_label
37011,Peculiar supernatural activity which is suspec...,1,1,@zramsin @BetoDavidThomas go fuck your self pu...,1
19392,"WASHINGTON — Speaker Paul D. Ryan, the nati...",0,1,Bitches be happy about burger king pollo tropi...,1
5280,Sudanese President Omar indicated through hi...,0,1,@wodaeeex3 hoe yu came at me first tf,1
57809,Another Saudi War Crime in Yemen as 43 Prisone...,1,1,@whiteangelss84 @fields_devante mmm where the ...,1
29911,"Rosetta, the first spacecraft to orbit a comet...",0,1,"Yous a Gold bottle, These hoes pink mascato",1
...,...,...,...,...,...
2430,As state after state has legalized marijuana i...,0,1,@team_Darrion just like a Velcro headed moon c...,1
33662,0 comments \nA speech 13-year-old Trump suppor...,1,1,@zach_smith98 @NathannDevlin bitch I didn't ev...,1
43927,"\nBy Peter Koenig , November 15 2016 \nThe ele...",1,1,Big moe rn like a hoe haha yuhhhh,1
1559,“It is what it is. People know how I feel abou...,0,1,@z0mbiedance message me hoe! I need to plan st...,1
27902,"SEOUL, South Korea — When North Korea held ...",0,0,&#128514; RT @TheOnlyReed: LMFAO RT @Tone314: ...,1

In [54]:
#Updated label:
# 0: if label=1 and label_hate_speech=0 (hate speech with fake news)
# 1: if label=1 and label_hate_speech=1/2 (non-hate speech with fake news)
# 2: if label=0 and label_hate_speech=0 (hate speech with real news)
# 3: if label=0 and label_hate_speech=1/2 (non-hate speech with real news)

In [55]:
for i in range(0, len(df_combined)):
    if df_combined.label[i]==1 and df_combined.label_hate_speech[i]==0:
        df_combined.Updated_label[i]=0
    elif df_combined.label[i]==1 and df_combined.label_hate_speech[i]!=0:
        df_combined.Updated_label[i]=1
    elif df_combined.label[i]==0 and df_combined.label_hate_speech[i]==0:
        df_combined.Updated_label[i]=2
    else:
        df_combined.Updated_label[i]=3

<ipython-input-55-a378fc78c065>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined.Updated_label[i]=2
<ipython-input-55-a378fc78c065>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined.Updated_label[i]=3
<ipython-input-55-a378fc78c065>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined.Updated_label[i]=0
<ipython-input-55-a378fc78c065>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined.Updated_label[i]=1

In [56]:
df_combined

,text,label,label_hate_speech,tweet,Updated_label
37011,Peculiar supernatural activity which is suspec...,1,1,@zramsin @BetoDavidThomas go fuck your self pu...,1
19392,"WASHINGTON — Speaker Paul D. Ryan, the nati...",0,1,Bitches be happy about burger king pollo tropi...,3
5280,Sudanese President Omar indicated through hi...,0,1,@wodaeeex3 hoe yu came at me first tf,3
57809,Another Saudi War Crime in Yemen as 43 Prisone...,1,1,@whiteangelss84 @fields_devante mmm where the ...,1
29911,"Rosetta, the first spacecraft to orbit a comet...",0,1,"Yous a Gold bottle, These hoes pink mascato",3
...,...,...,...,...,...
2430,As state after state has legalized marijuana i...,0,1,@team_Darrion just like a Velcro headed moon c...,3
33662,0 comments \nA speech 13-year-old Trump suppor...,1,1,@zach_smith98 @NathannDevlin bitch I didn't ev...,1
43927,"\nBy Peter Koenig , November 15 2016 \nThe ele...",1,1,Big moe rn like a hoe haha yuhhhh,1
1559,“It is what it is. People know how I feel abou...,0,1,@z0mbiedance message me hoe! I need to plan st...,3
27902,"SEOUL, South Korea — When North Korea held ...",0,0,&#128514; RT @TheOnlyReed: LMFAO RT @Tone314: ...,2

In [57]:
print((df_combined.Updated_label==0).sum())
print((df_combined.Updated_label==1).sum())
print((df_combined.Updated_label==2).sum())
print((df_combined.Updated_label==3).sum())

1700
28300
1700
28300

In [58]:
df_combined.to_csv('combined_dataset.csv')